$color-bg: #FFD600;

$color-txt-h1: #FFFB47;

$color-bg-selected: #e9e5e5;

$color-bg-btn-play:#FF3737;
$color-bg-btn-play-hover:#cc2c2c;

$color-bg-btn-opt1:#F03986;
$color-bg-btn-opt1-hover:#BD2D69;
$color-border-btn-opt1:#571530;
$color-txt-btn-opt1:#3D0F22;

$color-bg-btn-opt2:#43DD65;
$color-bg-btn-opt2-hover:#34AB4E;
$color-border-btn-opt2:#15451F;
$color-txt-btn-opt2:#0D2B14;

$color-bg-btn-opt3:#F2CA3C;
$color-bg-btn-opt3-hover:#BFA02F;
$color-border-btn-opt3:#594A16;
$color-txt-btn-opt3:#403510;

$color-bg-btn-opt4:#3C9BF2;
$color-bg-btn-opt4-hover:#2F7ABF;
$color-border-btn-opt4:#163959;
$color-txt-btn-opt4:#102940;


